<h1 id="remaining">{{ remaining }}</h1>

<table id="transaction-table">
<thead>
  <tr class='header'>
    <th>Date</th>
    <th>Institution</th>
    <th>Account</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Payee</th>
    <th></th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
