{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% comment %}
{% block main_menu_left %}
  {% if user.is_authenticated %}
    <li class="hide-for-small"><a class="button radius success" href="#">Add Question</a></li>
  {% endif %}
{% endblock %}
{% endcomment %}

{% block content %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'bower/underscore/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/backbone/backbone.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/marionette/lib/backbone.marionette.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/handlebars.runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/html-sanitizer-minified.js' %}"></script>
	
  <script type="text/javascript" src="{% static 'backbone/base.js' %}"></script>
  <script type="text/javascript" src="{% static 'backbone/models.js' %}"></script>
  {% block js_ %}
  {% endblock %}
{% endblock %}
