{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'bower/underscore/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/backbone/backbone.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower/marionette/lib/backbone.marionette.js' %}"></script>
  <script type="text/javascript" src="{% static 'libs/handlebars-1.3.0.runtime.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/overrides.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/templates.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/views.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/routes.js' %}"></script>
{% endblock %}
